<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.inventory.InventoryMapper">

    <sql id="cols">i.sku, i.name, i.qty</sql>

    <select id="findBySku" resultType="String">
        SELECT <include refid="cols"/>
        FROM inventory_items i
        WHERE i.sku = #{sku}
    </select>
</mapper>
